body{
  background: #e7e7e7;
  font-family: 'Titillium Web', sans-serif;
  font-size: 2em;
}

h1 {
  font-size: 2.5em;
}

.slider {
  margin-top: 120px;
  position: fixed;
  z-index: 1;
}

#header {
  margin-top: 222px;
  height: 100vh  
}

#header > h1 {
  font-family: "Ubuntu Condensed";
  color: #00ABEC;
  font-size: 5em;
  font-weight: bold;
}

#logo {
  border: 11px solid white;
  border-radius: 2%;
}

#social li > a{
  color: #0DAEEB;
  margin-left: -22px;
}

@media (max-width: 991px) {
  #header {
    margin-top: 120px;
    height: 100vh  
  }
  #logo {
    display: none;
    border: none;
  }
  .slider > p {display: none}
}