body {
  font-family: 'Lato', sans-serif;
  font-size: 1.9em;
  line-height: 2;
}

#site-header {
  background-image: url("../imgs/logo.png");
  background-position: left top;
  background-repeat: no-repeat;
}

#site-title {
  font-family: "Amiri";
  padding-bottom: 33px;
  padding-top: 29px;
  margin-left: 100px;
}

.heading {
  font-family: 'Lobster', cursive;
}

#social-block > p > a > i {
  padding-left: 12px;
  padding-right: 12px;
  font-size: 28px;
}

@media (max-width: 600px) {
  
}