body {
  font-family: 'Lato', sans-serif;
  font-size: 1.9em;
  line-height: 2;
}

#site-header {
  background-image: url("../imgs/logo.png");
  background-position: left top;
  background-repeat: no-repeat;
}

#site-title {
  padding-bottom: 33px;
  padding-top: 22px;
  margin-left: 100px;
}

.heading {
  font-family: 'Ubuntu', cursive;
}

#social-block > p > a > i {
  padding-left: 12px;
  padding-right: 12px;
  font-size: 28px;
}

.full {
    background: url('../imgs/fb-codeblind.png') no-repeat center center fixed;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    background-size: 100%;
    -o-background-size: 100%;
    height: 100vh; width: 100vw;
}

@media (max-width: 600px) {

}
